body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    margin: 0;
}
#title{
    color: white;
}
#head{
    background-color: rgb(6,24,72);
    text-align: center;
}
#centro{
    display: flex;
    justify-content: center;
    align-items: center;
}
#msgCentral1{
    width: 1200px;
    height: 200px;
    background-color: rgb(255, 255, 255);
    color: black;
    border-radius: 10px;
}
#inicioCentral{
    display: flex;
    justify-content: center;
    align-items: column;
    text-align: center;
    width: 1800px;
    height: 3000px;
    background-color: rgba(1,70,174,255);
    color: white;

}
#footer{
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
#rodape{
    color: white;
    background-color: rgb(6,24,72);
    text-align: center;
    padding-bottom: 10px;
}